.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

#cross:hover {
  cursor: pointer;
}

#photos-grid {
  margin: 10rem 0 -5rem 0;
  margin-left: 5em;

}

#horizontal {
  background-color: #1ABC9C;
  margin-bottom: 2em;
  opacity: 0.3
}
#display-photos {
    height: 5em;
    padding: 0 0.1em 0 0
}

#welcome-text{
  color: white
}

#display {
  height: 100%;
  width: 100%;
}
.conn {
  width: 100% !important;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

#welcome-list > li {
  float: left;
  margin-right: 4em;
  color:  #48C9B0;
}
#welcome-list {
  margin: 2em 0 0 10em
}
#welcome-list > li:hover {
  color: white;
  cursor: pointer;
}
#containerr {
  margin-top: 12em;
  text-align: center;
}

#customized-grid {
  margin-left: -5em;
}

.centered {
     position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      z-index: 3
}

#some-image{
    position: relative;
     width: 100%;
     height: 100% !important;
     z-index: 1;
     border: 1px solid green
}

#some-imagex{
    position: relative;
     width: 100%;
     height: 100% !important;
     z-index: 1;
     border: 1px solid green
}



#overlay {
  position: absolute;
  background: black;
  opacity: 0.5;
  z-index: 2;
  width: 100%;
  height: 100%;

}
.box {
  padding: 0 50px 150px 0 !important;

}

#image {
  width: 100%;
  height: 350px;
  border: 1px solid green
}

.containerxx {
 width: 90%;
 margin-left: 70px;
 margin-top: 80px;
}

#coll {
  margin-right: 5px;
  margin-bottom: 5px;
}

#overlay:hover {
   opacity: 0.9;
   cursor: pointer;
}

.show-post {
  color: white;
  margin-left: 140px;
  margin-top: 50px
}

.another {
margin-left: 20px;
border-left: 1px solid #48C9B0;
padding-left: 30px

}

input {
  border: 1px solid #48C9B0 !important;
  border-radius: 2px !important;
  background-color: black !important;
  color: white !important;
  margin: 20px 0 0 0  !important;
  padding: 12px 20px !important;
  width: 70% !important;
}

#another-textt {
  margin-left: 90px
}

.edit-form {
  color: white;
}

#separator {
  height: 3px;
  width: 170px;
  background-color: green;
  margin-left: -1px
}

#floating-left {
  float: right;
  margin-top: -30px
}

#collections-grid {
  margin: 10em 0 0 5em;
  width: 1500px;
  height: 50rem
}

#collection-grid {
  margin-left: 10em
}

.collection-gridx {
  margin-left: 10px;
  color: white;
}

#button2{
  text-decoration: underline;
}

#button2:hover {
  cursor: pointer;
  color: #48C9B0
}
#button1{
  text-decoration: underline;
}

#button1:hover {
  cursor: pointer;
  color: #48C9B0
}

#button-stack {
  margin-top: 50px
}

#label {
  color: #48C9B0
}

#

#displayed-text {
  color:white
}

body {
  background-color: black;
}
